*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Barlow";
    transition: 0.3s;
}
body{
    position: relative;
    background-image: url(assets/home/background-home-desktop.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 20px;
    }
    :root{
        --show: 0%;
        --links:none;
        --opacti:0;
    }
body::before{
content: "";
position: absolute;
width: var(--show);
height: 100%;
top: 0;
right: 0;
backdrop-filter: blur(40.7742px);
z-index: 2;
transition: 0.3s;
}
.attribution{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.attribution span{
    color: red;
    font-size: 20px;
    padding-left: 5px;
}
li{
    list-style: none;
}
.conterner{
    padding: 0px 15px;
    margin: 0px auto;
}

/* Small */
@media(min-width:768px)  {
    .conterner{
        width: 750px;
    }
}
/* Mediam */
@media(min-width:992px) {
    .conterner{
        width: 991px;
    }
    
}
/* Large */
@media(min-width:1200px){
    .conterner{
        width: 1200px;
    }
}
header{
height: 10%;
position: relative;
}
header::before{
    content: "";
    position: absolute;
    z-index: -1;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 65%;
    height: 70px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}
header .conterner{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
header .conterner .logo{
    width: 20%;
}
header .conterner .links{
    width: 65%;
    z-index: 2;
}

.links{
    display: flex;
    position: relative;
    width: 60%;
    justify-content: space-around;
}
.links li{
    list-style: none;
}
.links .active,
.links .choice{
position: relative;
}
.links li:not(.active):hover,
.links li:not(.choice):hover{
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.links .active::before,
.links .choice::before{
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    bottom: -24px;
    left: 0px;
    height: 2px;
    background-color: white;
}
.links li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
}
.links li a span{
    font-weight: bold;
}

header .conterner .icon{
    display: none;
    cursor: pointer;
    z-index: 2;
}
main{
    width: 100%;
    height: 90%;
}
main .conterner{
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
@media(max-width:991px){

    main{
        width: 100%;
    }
    .links li a span{
        display: none;
    }
    header .logo::before{
        display: none;
    }
    body{
        background-image: url(assets/home/background-home-tablet.jpg);
    }
    main .conterner{
        flex-direction: column;
        justify-content: space-around;
        }
        .links{
            justify-content: space-evenly;
        }
}
@media(max-width:520px){
    body{
        background-image: url(assets/home/background-home-mobile.jpg);
    }
    header .conterner .icon{
        width: 30px;
        display: block;
    }
    header .logo img{
        width: 35px;
    }
    header::before{
        display: none;
    }
}
@media(max-width:520px){
    header .conterner .links{
        display: var(--links);
        position: absolute;
        right: 0;
        top: calc(100% + 30px);
        width: 62%;
        opacity: var(--opacti);
        transition: 0.3s;
    }
    .links .active::before{
        display: none;
    }
    header .conterner .links li:not(:first-child) {
        margin-top: 15%;
    }
    .links li a span{
        display: inline;
    }
    .links li a:hover{
        padding-left: 10px;
    }
}
main .conterner .text{
    width: 45%;
}
main .conterner .text span{
    text-transform: uppercase;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: 4.725px;
    color: #D0D6F9;
}
main .conterner .text h2{
    text-transform: uppercase;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 172px;
    /* identical to box height */
    color: #FFFFFF;
}
main .conterner .text p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
    
}
@media(max-width:991px){
    main .conterner .text {
        text-align: center;
        width: 100%;
    }
    main .conterner .text p{
        display: block;
        width: 90%;
        margin: 0px auto;
    }
    main .conterner .text span{
        font-size: 15px;
        letter-spacing: 2.725px;
    }
    main .conterner .text h2{
        font-size: 100px;
        line-height: 110px;
    }
}
@media(max-width:520px){
    main .conterner .text h2{
        font-size: 100px;
        line-height: 110px;
    }
    main .conterner .text p{
        display: block;
        width: 90%;
        margin: 0px auto;
    }
    main .conterner .text span{
        font-size: 12px;
    }
}

main .conterner .explore{
    background-color: white;
    width: 180px;
    height: 30%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .conterner .explore a{
    text-transform: uppercase   ;
    text-decoration: none;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .conterner .explore:hover{
    box-shadow: 0px 0px 0px 50px #ffffff8e;
}

@media(max-width:991px){
    main .conterner .explore:hover{
        box-shadow: 0px 0px 0px 20px #ffffff8e;
    }
}
@media(max-width:520px){
    main .conterner .explore:hover{
        box-shadow: 0px 0px 0px 12px #ffffff8e;
    }
}